* {
    width:  960px;
    margin: auto;
}
#logo1{
    float:right;
    align-content: center;
    display: block;
    width:30px;
    padding-bottom: 20px;
    }
    #logo4{
        float:left;
        width:30px;
    }
#head1 second:first-child{
    font-style: italic;
    text-decoration: underline;
}