body{
    width:960px;
    margin:auto;
    align-content: center;
}
#logoH{
    float:left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
}
#logo{
    margin-top: 15px;
}

#logo2{
    float: right;
}
#logo h1, span{
    line-height:0.01em;
}
#logo h1{
    font-family: 'Dancing Script';
    font-style:italic;
    font-weight: 1000;
    font-display: swap;
    font-size: 2.3em;
}
#logo span{
    font-style: italic;

}
#upper{
    background-image:url(/img/hr-img.png);
    background-repeat: repeat-x;
    height: 20px;
    margin-top: 30px;
}
#printline{
    float:right;
}
main p{
    text-align:end;
    text-size-adjust: 5em;
}
.vanessa img{
    float:left;
}
.vanessa  h3{
line-height: 20px;
padding-top: 10px;
}
#list{
    background-image: url(/img/list-bg.png);
    line-height: 2.5em;
    height: 300px;
    display: block;
}
#list{
         margin: 20px 15px;
        width: auto;
        background-image: url("/img/list-bg.png");
        display:flex;
        justify-content: space-around;
        padding-top: 20px;
        
    
}

footer{
    width: 100%;
    align-content: center;
}
#lower{
    align-content: center;
    background-image:url(/img/hr-img.png);
    background-repeat: repeat-x;
    height: 100px;
    size: 100px;
    padding-bottom: 50px;
    padding-top: 50px;
}
